:host{
    display: block;
    background-color: red;
    color: white;
}
:host(.blue){
    display: block;
    background-color: blue;
    color: white;
}
/* p{
    font-size: 20px;
    color: yellow;
}  */